table.table.table-bordered.table-striped
  - ingredient_group.recipe_ingredients.each do |recipe_ingredient|
    = render partial: 'shared/recipe_ingredient', locals: { recipe_ingredient: recipe_ingredient }
